.team-bg-1 {
    background-image: url(../img/team/team-1.webp);
}
  
.team-bg-2 {
    background-image: url(../img/team/team-2.webp);
}
  
.team-bg-3 {
    background-image: url(../img/team/team-3.webp);
}